{% extends 'base.html.twig' %}

{% block body %}
    <h1>Department</h1>

    <table   class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ department.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ department.name }}</td>
            </tr>
        </tbody>
    </table>

 {#   <ul>
        <li>
            
        </li>
        <li>
            
        </li>
        <li>#}
 <div>
            {{ form_start(delete_form) }}
                            <a href="{{ path('employee_index') }}" class="btn btn-info">Employee list</a>
            <a href="{{ path('department_index') }}" class="btn btn-info">Back to the list</a>
            <a href="{{ path('department_edit', { 'id': department.id }) }}" class="btn btn-info">Edit</a>
                <input type="submit" class="btn btn-info" value="Delete">
            {{ form_end(delete_form) }}
 </div>
      {#  </li>
    </ul>#}
{% endblock %}
