{% extends 'base.html.twig' %}

{% block body %}
    <h1>Employee creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div style="margin-top: 20px;">
        <input type="submit" class="btn btn-primary" value="Create" />
        <a href="{{ path('employee_index') }}"  class="btn btn-info">Back to the list</a>
                    <a href="{{ path('department_index') }}" class="btn btn-info">Department list</a>
        </div>
    {{ form_end(form) }}

    {#<ul>
        <li>#}
        {#</li>
    </ul>#}
{% endblock %}
